# .github/workflows/my-build.yml
name: tmate
on: 
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2

     - name: Setup tmate session
       uses: mxschmitt/action-tmate@v2
